#
# Copyright 2014, NICTA
#
# This software may be distributed and modified according to the terms of
# the BSD 2-Clause license. Note that NO WARRANTY is provided.
# See "LICENSE_BSD2.txt" for details.
#
# @TAG(NICTA_BSD)
#

config LIB_SOS
    bool "Build sos library"
    select HAVE_SEL4_LIBS
    select LIB_UTILS
    default y
    help
        "C platform dependant function implementations for sos clients"
